.advantages {
  padding: 45px 0 30px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage {
  display: grid;
  grid-template-columns: 50px 1fr;

  align-items: center;
  gap: 15px 40px;

  margin-bottom: 38px;
}

.border {
  height: 100%;
  margin: auto;

  border-right: 1px solid #d2d2d2;
}
