.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.38;

  color: var(--grey);

  margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondLevel {
  margin-bottom: 13px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--grey-dark);

  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
}

.secondBlock {
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #dfdfdf;
  margin-top: 14px;
  padding-top: 6px;
}

.secondLevelBlock {
  overflow: hidden;
}

.thirdLevel {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;

  color: var(--grey-dark);

  cursor: pointer;

  margin-bottom: 10px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
