.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	display: grid;
	gap: 8px;
	grid-template-columns: 20px 1fr;
	border: none;
	background: none;
	align-items: center;
	outline: 1px ;
	cursor: pointer;

	font-size: 16px;
	line-height: 22px;
}

.sort button:not(.active) {
	grid-template-columns: 1fr;
}

.sort button:focus {
	outline: 1px solid var(--primary);
}

.sortName {
	display: none;
}

@media screen and (max-width: 480px) {
	.sort {
		gap: 20px;
	}
}
