html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--primary: #7653FC;
	--primary-hover: #442da2;
	--grey: #A4A4A4;
	--grey-light: #EBEBEB;
	--grey-dark: #787D85;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--red: #FC836D;
	--red-light: #ffb2a4;
	--white: white;
	--font-family: "Noto Sans", sans-serif;
}
