html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

.visuallyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--primary: #724ffa;
	--primary-hover: #6344df;
	--grey: #707070;
	--grey-light: #EBEBEB;
	--grey-dark: #6c7077;
	--green: #007b48;
	--green-light: #C8F8E4;
	--red: #FC836D;
	--red-light: #ffb2a4;
	--white: white;
	--font-family: "Noto Sans", sans-serif;
}
